h1{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;   
}
img{
    width:  790px;
    height: 700px;
    align-items: center;
    padding-left: 180px;
}

   
body{
    background-color: hsl(203, 57%, 60%);
}


li{
    display: inline-block;
    color: black;
    padding:70px;
}
#description{
    text-align: auto;
    text-decoration: darkblue;
}


