h1{
    text-align: center;
  

}
body{
    background-color: hsl(203, 57%, 60%);
}
h3{
    text-align: center;
}
img{
    align-items: auto;
}
a{
    display:block;
    padding: 70px;
}